body {
	max-width: 1500px;
	margin: 0 auto;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
/*========== HEADER ================*/
.header {
	position: relative;
	width: 100%;
	height: 135px;
	background-color: rgba(0, 0, 0, 0.73);
}
.header-control {
	height: 87px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo span {
	font-family: "PEPSI";
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 1.6px;
}
.header-logo span:first-child {
	color: #eeeeee;
}
.header-logo span:last-child {
	color: #b98a05;
}
.header-cart-block  {
	height: 100%;
	display: flex;
	align-items: center;
}
.header-cart__total {
	color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-left: 10px;
}
.header-cart {
	display: flex;
	align-items: center;
}
.header-search {
	font-size: 19px;
	color: #eeeeee;
	font-family: "FontAwesome";
	margin-left: 36px;
	display: flex;
}
.hv {
	margin-left: 15px;
	content: '';
	display: block;
	width: 1px;
	height: 24px;
	background-color: #eeeeee;
}
.header-gamb-menu {
	margin-left: 15px;
}
.header-navigation {
	width: 100%;
	height: 47px;
	border-top: 1px solid #eeeeee;

}
.header-navigation-list {
	height: 47px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-navigation__item a {
	color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.35px;
}
.header-navigation__item:hover a, .header-navigation__item.active a{
	color: #b98a05;
}
/*========== MAIN ==================*/
/*---------- section slider ----------*/
.slider {
	height: 465px;
	position: relative;
}
.slider-banner {
	position: absolute;
	top: -135px;
	z-index: -1;
}
.slider-arrow {
	border-radius: 0 10px 10px 0;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 136px;
	width: 49px;
	height: 57px;
	background-color: rgba(0, 0, 0, 0.38);
	/*----view----*/
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-family: "FontAwesome";
	font-size: 26px;
}
.slider-arrow.right {
	transform: translateX(-100%) scale(-1);
	left: 100%;
}
/*---------- slider-banner-text ----------*/
.slider-banner-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	transform: translate(-50%);
	left: 50%;
	top: 122px;
	width: 630px;
	height: 243px;
	background-color: rgba(255, 255, 255, 0.9);
}
.slider-banner__title {
	margin: 0 29px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: 300;
	text-transform: uppercase;
}
.slider-banner__desc {
	text-align: center;
	margin: -6px 47px 0;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.4;
}
.slider-banner__btn {
	width: 268px;
	height: 49px;
	display: flex;
	align-items: center;
	padding-bottom: 3px;
	justify-content: center;
	background-color: #b45205;
	border-radius: 7px;
	/*----view----*/
	color: #fefefe;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
/*---------- section main-navigation ----------*/
.main-navigation {
	height: 100px;
}
.main-navigation__list {
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.main-navigation__item {
	position: relative;
}
.main-navigation__item a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 271px;
	height: 49px;
}
.main-navigation-arrow {
	position: absolute;
	z-index: 1;
}
.main-naviagation-text {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-naviagation-text * {
	display: block;
}
.main-naviagation-text span {
	margin-left: 8px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.55px;
}
/*---------- category-name block ----------*/
.category-name {
	position: relative;
	margin-bottom: 50px;
}
.category-name-title-block {
	width: 100%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category-name-title__text {
	padding: 9px 20px 0;
	text-align: center;
	min-width: 220px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 1);
	color: #333333;
	font-family: "Vani";
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
.hr {
	position: absolute;
	z-index: 1;
	display: inline-block;
	width: 1170px;
	height: 1px;
	background-color: #cccccc;
	content: '';
}
/*---------- category new-product ----------*/
.new-product-block {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}
.new-product-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 270px;
	height: 436px;
	border: 1px solid #e9e9e9;
	text-align: center;
	transition: all 200ms linear;
}
.new-product-item:hover {
	border: 1px solid rgba(233, 233, 233, 0);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 330px;
	background-color: #e9e9e9;
}
.img-block img {
}
.new-product-item-footer {
	padding-top: 16px;
	height: 86px;	
}
.new-product-item__name {
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
}
.item-footer-buy {
	width: 250px;
	margin-top: 21px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.new-product-item-price__block {
	display: flex;
}
.new-product-item__currency {
	float: left;
}
.new-product-item-price__total {
	margin-left: 7px;
	/*----view----*/
	color: #b70f1c;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
}
.new-product-item__btn {
	padding-top: 6px;
	text-align: center;
	width: 122px;
	height: 28px;
	background-color: #b98a05;
	border-radius: 5px;
	/*----view----*/
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
}
/*---------- section connect ----------*/
.connect {
	/*width: 1500px;*/
	height: 527px;
	position: relative;
	margin-bottom: 10px;
}
.connect__img {
	position: relative;
	background-color: rgba(0, 0, 0, 0.57);
}
.connect__img img {
	position: relative;
	z-index: -1;
}
.connect-text {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
}
.connect__title {
	color: #ffffff;
	font-family: Vani;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}
.connect__desc {
	text-align: center;
	width: 930px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.4;
}
.connect__btn {
	width: 236px;
	height: 55px;
	background-color: #b98a05;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*----view----*/
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 2px;	
}
/*---------- section testimonials ----------*/
.testimonials {
	height: 500px;
	position: relative;
	margin-bottom: 10px;
	/*display: flex;*/
}
.testimonials__fill {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(95, 44, 3, 0.53);
}
.testimonials__img {
	position: absolute;
	z-index: -1;	
}
.testimonials-content {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
.testimonials-person {
	margin-right: 50px;
	display: block;
	text-align: center;
}
.testimonials-person__img {
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	box-shadow: 6px 10px 11px #231f20;
	border: 6px solid #ffffff;
	background-color: #b45205;	
}
.testimonials-person__img img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.testimonials-person__name {
	margin-top: 35px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 700;
}
.testimonials-person__position {
	margin-top: 18px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.testimonials-text {
	margin-top: 20px;
	margin-left: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.testimonials__title {
	color: #ffffff;
	font-family: Vani;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}
.testimonials__desc {
	margin-top: 100px;
	text-align: left;
	width: 850px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.4;
}
.testimonials-slider-control ul {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 35px;
	z-index: 10;
	list-style: none;
	display: flex;
}
.testimonials-slider__btn  {
	display: block;
	width: 16px;
	height: 16px;
	background-color: #642c00;
	border-radius: 50%;
	margin-left: 7px;
}
.testimonials-slider__btn:first-child a {
	margin-left: 0;
}
.testimonials-slider__btn.active {
	width: 16px;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
}